body {
    direction: rtl;
      }

#container {
    width: 960px;
    height: 580px;
    margin: 0 auto;
    background-image: url('../images/example.jpg');
    background-size: 100%;
    position: relative;
}

nav {
    width: 960px;
    height: 50px;
    background-color: #2f2f33;
}

    /*הריבועים בתפריט*/

nav ul li{
    display:inline-block;
    float:right;
    
    /*display:block;
width:120px;*/
}

    /*המלל בתפריט*/

nav ul li a
{
display: block;
background-color: #2f2f33;
color: white;
width: 120px;
height: 42px;
padding-top: 8px;
text-decoration: none;
text-align: center;
}

nav ul li a:hover
{
background-color: blue;
}

nav ul li a:active
{
background-color: cornflowerblue;
}

.navCurrent
{
    background-color:lightgray;
    color: black;
}

/*אייקון דף הבית- שחור*/

#homeBlack {
    background-image: url('../images/homeBlack-01.png');
    background-repeat: no-repeat;
    background-position-x: center;
    background-position-y: center;
    background-size: 25%;    
}

/*אייקון דף הבית- לבן*/

#homeWhite {
    background-image: url('../images/homeWhite-01-01.png');
    background-repeat: no-repeat;
    background-position-x: center;
    background-position-y: center;
    background-size: 25%;
}

/*השם שלי (DanGeva) בדף הבית*/

#logo {
    width: 960px;
    position: absolute;
    top: 2%;
    right: 60%;
    font-size: 70px;
    -webkit-text-stroke-width: 2px;
    -webkit-text-stroke-color: white;
}

/*הכותרות בדפים*/

h2 {        
    position: absolute;
    top: 1.5%;
    right: 58%;
    font-size: 36px;
    color: white;
}

/*הטקסט בדף הבית*/

.text {
    text-align: center;
    position: absolute;
    left: 55%;
    top: 23%;
    color: #2f2f33;
    font-size: 24px;
    font-weight: bold;
    line-height: 1.5;
    padding: 10px 10px;
    -webkit-border-radius: 30px;
    border-radius: 30px;

    -webkit-transition: background 5s ease;
    -moz-transition: background 5s ease;
    -ms-transition: background 5s ease;
    -o-transition: background 5s ease;
    transition: background 5s ease;


}

    .text:hover {
        background-color: whitesmoke;
        -webkit-transition: background 5s ease;
        -moz-transition: background 5s ease;
        -ms-transition: background 5s ease;
        -o-transition: background 5s ease;
        transition: background 5s ease;
       
    }

#text2 {
font-weight: bold;
font-size: 28px;
}

/*תוצר תקשורת חזותית*/

#myImageA {
    width: 300px;
    height: 200px;
    padding: 65px 550px 20px 50px;
}

.myVideo {
    padding: 0px 550px 10px 50px;
}

.text2 {
    line-height: 1.5;
    text-align: center;
    position: absolute;
    right: 15%;
    top: 18%;
    color: #2f2f33;
    font-size: 24px;
    }

/*תוצר גרפיקה ממוחשבת*/

#myImageB {
    width: 300px;
    height: 420px;
    padding: 65px 550px 20px 50px;
    }

#myAudioA {
    position: absolute;
    top: 520px;
    right: 95px;
}

/*תוצר גרפיקה ממוחשבת*/

#myImageC {
    width: 350px;
    height: 240px;
    padding: 120px 520px 20px 50px;
}